.flows_Eddy1.json.backup
[{"id":"4802782f.a37118","type":"tab","label":"outlet control"},{"id":"aec1ad39.2fa4","type":"tab","label":"Outlet Status Change"},{"id":"f80e3545.cd3708","type":"tab","label":"Flow 1"},{"id":"2e2da0b0.5b87e","type":"nodebot","z":"","name":"Local","username":"","password":"","boardType":"galileo-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"5808177d.cde9b8","type":"mqtt-broker","z":"","broker":"192.168.2.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"78c72509.e9c06c","type":"websocket-listener","z":"","path":"/ws/outlet/control","wholemsg":"false"},{"id":"2feb7504.caf11a","type":"websocket-listener","z":"","path":"/ws/status","wholemsg":"false"},{"id":"73eefd6a.7579b4","type":"websocket-listener","z":"","path":"/ws/outlet2","wholemsg":"false"},{"id":"b80e2c1a.7887b","type":"mongodb","z":"","hostname":"192.168.2.40","port":"27017","db":"UpcycleIt","name":"UpcycleIt on Snowbank"},{"id":"f59d21fb.4cc35","type":"websocket-listener","z":"","path":"/ws/outlet3","wholemsg":"false"},{"id":"cf70ad78.3914d","type":"websocket-listener","z":"","path":"/ws/outlet4","wholemsg":"false"},{"id":"c9437b87.9b55b8","type":"websocket-listener","z":"","path":"/ws/outlet5","wholemsg":"false"},{"id":"95b7022e.6acd8","type":"websocket-listener","z":"","path":"/ws/outlet6","wholemsg":"false"},{"id":"bf3f5b6f.75f5a8","type":"websocket-listener","z":"","path":"/ws/outlet7","wholemsg":"false"},{"id":"2b4ae781.ff7e18","type":"websocket-listener","z":"","path":"/ws/outlet/status","wholemsg":"false"},{"id":"26c02345.c1b4bc","type":"gpio out","z":"4802782f.a37118","name":"Outlet8","state":"OUTPUT","pin":"GP78","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":495.33324432373047,"y":21.428571701049805,"wires":[]},{"id":"aa892212.e2e0f","type":"gpio out","z":"4802782f.a37118","name":"Outlet7","state":"OUTPUT","pin":"GP41","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":901.4126968383789,"y":49.76190185546875,"wires":[]},{"id":"b6ec1e96.95af1","type":"gpio out","z":"4802782f.a37118","name":"Outlet4","state":"OUTPUT","pin":"GP15","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1156.3492622375488,"y":381.6032466888428,"wires":[]},{"id":"8be48b72.6944e8","type":"gpio out","z":"4802782f.a37118","name":"Outlet3","state":"OUTPUT","pin":"GP49","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1122.6666107177734,"y":530.3332901000977,"wires":[]},{"id":"42c23897.140718","type":"gpio out","z":"4802782f.a37118","name":"Outlet6","state":"OUTPUT","pin":"GP84","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1148.6985168457031,"y":172.8413143157959,"wires":[]},{"id":"8529a6c7.1ba218","type":"gpio out","z":"4802782f.a37118","name":"Outlet2","state":"OUTPUT","pin":"GP47","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":839.2857208251953,"y":699.0317363739014,"wires":[]},{"id":"a21c587b.4b0c98","type":"gpio out","z":"4802782f.a37118","name":"Outlet5","state":"OUTPUT","pin":"GP42","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1156.3650283813477,"y":229.0794219970703,"wires":[]},{"id":"57a0bac0.6896a4","type":"gpio out","z":"4802782f.a37118","name":"Outlet1","state":"OUTPUT","pin":"GP45","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":434.9841423034668,"y":838.3968505859375,"wires":[]},{"id":"a672f60b.487a58","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0006/control","qos":"2","broker":"5808177d.cde9b8","x":702.4127044677734,"y":222.17462158203125,"wires":[["c192dc3.c07b02"]]},{"id":"abfbadaf.55c2e","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0005/control","qos":"2","broker":"5808177d.cde9b8","x":737.2380905151367,"y":345.5397186279297,"wires":[["313ad00.88ffd3"]]},{"id":"42a0a5a2.4d738c","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0002/control","qos":"2","broker":"5808177d.cde9b8","x":479.2856750488281,"y":643.6825675964355,"wires":[["1188ccd4.ddb443"]]},{"id":"a2c037c2.746498","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0001/control","qos":"2","broker":"5808177d.cde9b8","x":139.6031494140625,"y":721.7143077850342,"wires":[["adca1fb6.24a62"]]},{"id":"cb360c68.ffb9a","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0008/control","qos":"2","broker":"5808177d.cde9b8","x":120.73014068603516,"y":20,"wires":[["8b526f7.74e159"]]},{"id":"32014c34.628694","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0004/control","qos":"2","broker":"5808177d.cde9b8","x":714.7618865966797,"y":426.8889102935791,"wires":[["182319b2.b83966"]]},{"id":"1dee7c97.666723","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0007/control","qos":"2","broker":"5808177d.cde9b8","x":490.0951843261719,"y":124.14285850524902,"wires":[["96bc43b1.b4b95"]]},{"id":"3ff28c8d.6adf34","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0003/control","qos":"2","broker":"5808177d.cde9b8","x":804.0158996582031,"y":637.9999942779541,"wires":[["12eebd24.6c2183"]]},{"id":"534b59e2.b60cf8","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet1","state":"INPUT","samplingInterval":"300","pin":"GP45","board":"2e2da0b0.5b87e","x":55.555538177490234,"y":326.6666450500488,"wires":[["7452f35.fcaa90c"]]},{"id":"7452f35.fcaa90c","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":216.8888702392578,"y":342.88885974884033,"wires":[["7231870f.b83a08"]]},{"id":"dcb9ba6e.c6fe78","type":"websocket in","z":"4802782f.a37118","name":"","server":"78c72509.e9c06c","client":"","x":105.23810577392578,"y":165.23807525634766,"wires":[["db27dccc.50afe"]]},{"id":"db27dccc.50afe","type":"function","z":"4802782f.a37118","name":"OutletControl","func":"var jMsg = JSON.parse(msg.payload);\nconsole.log(jMsg);\nvar nMsg = { payload: \"0\" }\nif (jMsg.state == \"on\")\n    nMsg.payload = \"1\";\n    \nif (jMsg.outlet == \"outlet1\") {\n    return [null,null,null,null,null,null,null,nMsg];\n}\nif (jMsg.outlet == \"outlet2\") {\n    return [null,null,null,null,null,null,nMsg,null];\n}\nif (jMsg.outlet == \"outlet3\") {\n    return [null,null,null,null,null,nMsg,null,null];\n}\nif (jMsg.outlet == \"outlet4\") {\n    return [null,null,null,null,nMsg,null,null,null];\n}\nif (jMsg.outlet == \"outlet5\") {\n    return [null,null,null,nMsg,null,null,null,null];\n}\nif (jMsg.outlet == \"outlet6\") {\n    return [null,null,nMsg,null,null,null,null,null];\n}\nif (jMsg.outlet == \"outlet7\") {\n    return [null,nMsg,null,null,null,null,null,null];\n}\nif (jMsg.outlet == \"outlet8\") {\n    return [nMsg,null,null,null,null,null,null,null];\n}\n","outputs":"8","noerr":0,"x":191.26985931396484,"y":410.7936477661133,"wires":[["26c02345.c1b4bc"],["aa892212.e2e0f"],["42c23897.140718"],["a21c587b.4b0c98"],["b6ec1e96.95af1"],["8be48b72.6944e8"],["8529a6c7.1ba218"],["57a0bac0.6896a4"]]},{"id":"7391fa6b.8bda54","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0001/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":965.7617530822754,"y":336.3650875091553,"wires":[]},{"id":"4d76c80f.d36e28","type":"mongodb out","z":"aec1ad39.2fa4","mongodb":"b80e2c1a.7887b","name":"status update","collection":"status","payonly":false,"upsert":true,"multi":false,"operation":"update","x":959.7777328491211,"y":947.666597366333,"wires":[]},{"id":"82ba430b.d7377","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet2","state":"INPUT","samplingInterval":"300","pin":"GP47","board":"2e2da0b0.5b87e","x":55,"y":393.6666736602783,"wires":[["83459271.e586b"]]},{"id":"83459271.e586b","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":212.66666412353516,"y":412.11111068725586,"wires":[["7231870f.b83a08"]]},{"id":"8e7a3ae0.93efc8","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0002/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":966.8728981018066,"y":395.0317726135254,"wires":[]},{"id":"cc7a2dcb.00b6","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet3","state":"INPUT","samplingInterval":"300","pin":"GP49","board":"2e2da0b0.5b87e","x":55,"y":470.4444465637207,"wires":[["d8978f88.b6269"]]},{"id":"d8978f88.b6269","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":218.88887405395508,"y":477.7777843475342,"wires":[["7231870f.b83a08"]]},{"id":"4d8e8a96.ad89c4","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0003/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":965.428539276123,"y":468.9206428527832,"wires":[]},{"id":"dde42501.7fa858","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet4","state":"INPUT","samplingInterval":"300","pin":"GP15","board":"2e2da0b0.5b87e","x":63.111106872558594,"y":552.3333148956299,"wires":[["11380f0b.a6fe81"]]},{"id":"11380f0b.a6fe81","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":208.00000762939453,"y":559.3333282470703,"wires":[["7231870f.b83a08"]]},{"id":"83b67fee.6aee7","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0004/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":969.9840660095215,"y":535.2539691925049,"wires":[]},{"id":"66a6e60d.3c95c8","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet5","state":"INPUT","samplingInterval":"300","pin":"GP42","board":"2e2da0b0.5b87e","x":58.55555725097656,"y":633.3333854675293,"wires":[["5ef67ce8.045ae4"]]},{"id":"5ef67ce8.045ae4","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":207.99999618530273,"y":630.2222003936768,"wires":[["7231870f.b83a08"]]},{"id":"92d0ef50.f7215","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0005/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":971.2063026428223,"y":607.4762058258057,"wires":[]},{"id":"7a035362.b2745c","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet6","state":"INPUT","samplingInterval":"300","pin":"GP84","board":"2e2da0b0.5b87e","x":56.222225189208984,"y":703.5556297302246,"wires":[["c9c0a88e.4c9ea8"]]},{"id":"c9c0a88e.4c9ea8","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":221.99999618530273,"y":701.8888282775879,"wires":[["7231870f.b83a08"]]},{"id":"2445efd5.fb12c","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0006/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":972.7618598937988,"y":675.1428852081299,"wires":[]},{"id":"151aa972.8dc2e7","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet7","state":"INPUT","samplingInterval":"300","pin":"GP41","board":"2e2da0b0.5b87e","x":64.44444274902344,"y":779.3333168029785,"wires":[["2c5e93df.ad027c"]]},{"id":"2c5e93df.ad027c","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":221.33332061767578,"y":767.777753829956,"wires":[["7231870f.b83a08"]]},{"id":"495b2e62.d1355","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0007/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":974.7618141174316,"y":734.9206008911133,"wires":[]},{"id":"21caba33.e3e1a6","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet8","state":"INPUT","samplingInterval":"300","pin":"GP78","board":"2e2da0b0.5b87e","x":61.66666793823242,"y":861.9999771118164,"wires":[["8394fd6a.c92a7"]]},{"id":"8394fd6a.c92a7","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":225.22220993041992,"y":851.5555400848389,"wires":[["7231870f.b83a08"]]},{"id":"c1ae9d38.dec14","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0008/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":979.4284858703613,"y":815.6983852386475,"wires":[]},{"id":"460757f6.416958","type":"websocket out","z":"aec1ad39.2fa4","name":"","server":"2b4ae781.ff7e18","client":"","x":974.2062225341797,"y":885.7143783569336,"wires":[]},{"id":"7231870f.b83a08","type":"function","z":"aec1ad39.2fa4","name":"WS Payload 1","func":"var GPIO = msg.topic;\n\n// WS skel\nvar WSstate = \"off\";\nvar DBstate = \"off\";\nvar MQTTstate = \"OFF\"\nif (msg.payload == \"1\") {\n    WSstate = \"on\";\n    DBstate = \"on\";\n    MQTTstate = \"ON\";\n}\n\nvar control = \"\";\nvar WSmsg = { payload: [\n        {\n            control: control,\n            state: WSstate\n        }\n    ]\n};\n\nvar MQTTmsg = { payload: MQTTstate };\n\nvar DBmsg = {\n    query: { \n        device: \"tower00\", \n        control: \"\"\n    },\n    payload: { \n        device: \"tower00\", \n        control: \"\",\n        state: DBstate\n    }\n};\n\n\nif (GPIO == \"GP45\") {\n    WSmsg.control = \"outlet1\";\n    DBmsg.query.control = \"outlet1\";    \n    DBmsg.payload.control = \"outlet1\";    \n    return [MQTTmsg,null,null,null,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP47\") {\n    WSmsg.control = \"outlet2\";\n    DBmsg.query.control = \"outlet2\";    \n    DBmsg.payload.control = \"outlet2\";    \n    return [null,MQTTmsg,null,null,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP49\") {\n    WSmsg.control = \"outlet3\";\n    DBmsg.query.control = \"outlet3\";    \n    DBmsg.payload.control = \"outlet3\";    \n    return [null,null,MQTTmsg,null,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP15\") {\n    WSmsg.control = \"outlet4\";\n    DBmsg.query.control = \"outlet4\";    \n    DBmsg.payload.control = \"outlet4\";    \n    return [null,null,null,MQTTmsg,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP42\") {\n    WSmsg.control = \"outlet5\";\n    DBmsg.query.control = \"outlet5\";    \n    DBmsg.payload.control = \"outlet5\";    \n    return [null,null,null,null,MQTTmsg,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP84\") {\n    WSmsg.control = \"outlet6\";\n    DBmsg.query.control = \"outlet6\";    \n    DBmsg.payload.control = \"outlet6\";    \n    return [null,null,null,null,null,MQTTmsg,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP41\") {\n    WSmsg.control = \"outlet7\";\n    DBmsg.query.control = \"outlet7\";    \n    DBmsg.payload.control = \"outlet7\";    \n    return [null,null,null,null,null,null,MQTTmsg,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP78\") {\n    WSmsg.control = \"outlet8\";\n    DBmsg.query.control = \"outlet8\";    \n    DBmsg.payload.control = \"outlet8\";    \n    return [null,null,null,null,null,null,null,MQTTmsg,WSmsg,DBmsg];\n}\n","outputs":"10","noerr":0,"x":571.0000534057617,"y":614.4444351196289,"wires":[["7391fa6b.8bda54"],["8e7a3ae0.93efc8"],["4d8e8a96.ad89c4"],["83b67fee.6aee7"],["92d0ef50.f7215"],["2445efd5.fb12c"],["495b2e62.d1355"],["c1ae9d38.dec14"],["460757f6.416958","46e9a3be.16a05c"],["4d76c80f.d36e28","8c48c25d.1a22c"]]},{"id":"7c5aced9.096c9","type":"websocket in","z":"f80e3545.cd3708","name":"","server":"2feb7504.caf11a","client":"","x":174,"y":359,"wires":[["4237a0e8.6daab"]]},{"id":"a0d0b031.b0041","type":"mqtt in","z":"f80e3545.cd3708","name":"","topic":"tower/status/request","qos":"2","broker":"5808177d.cde9b8","x":175.11111450195312,"y":268.00001525878906,"wires":[["4237a0e8.6daab"]]},{"id":"4237a0e8.6daab","type":"function","z":"f80e3545.cd3708","name":"Query Tower00 Status","func":"var myMsg = {};\nvar query = { device: 'tower00' };\nmyMsg.payload = query;\nreturn myMsg;","outputs":1,"noerr":0,"x":432,"y":317,"wires":[["36053430.044d2c"]]},{"id":"36053430.044d2c","type":"mongodb in","z":"f80e3545.cd3708","mongodb":"b80e2c1a.7887b","name":"","collection":"status","operation":"find","x":696,"y":317,"wires":[["f67e3b3e.1ed9a8","110ff24f.c9788e"]]},{"id":"110ff24f.c9788e","type":"mqtt out","z":"f80e3545.cd3708","name":"","topic":"tower/status/report","qos":"","retain":"","broker":"5808177d.cde9b8","x":977,"y":405,"wires":[]},{"id":"f67e3b3e.1ed9a8","type":"websocket out","z":"f80e3545.cd3708","name":"","server":"2b4ae781.ff7e18","client":"","x":971,"y":219,"wires":[]},{"id":"adca1fb6.24a62","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":214.4444122314453,"y":796.6666250228882,"wires":[["57a0bac0.6896a4"]]},{"id":"1188ccd4.ddb443","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":609.9999771118164,"y":713.3332786560059,"wires":[["8529a6c7.1ba218"]]},{"id":"12eebd24.6c2183","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":906.6666488647461,"y":555.5555381774902,"wires":[["8be48b72.6944e8"]]},{"id":"182319b2.b83966","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":958.888786315918,"y":413.33330726623535,"wires":[["b6ec1e96.95af1"]]},{"id":"313ad00.88ffd3","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":951.1110916137695,"y":296.6666488647461,"wires":[["a21c587b.4b0c98"]]},{"id":"c192dc3.c07b02","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":905.5555953979492,"y":164.44444179534912,"wires":[["42c23897.140718"]]},{"id":"96bc43b1.b4b95","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":701.111083984375,"y":35.5555534362793,"wires":[["aa892212.e2e0f"]]},{"id":"8b526f7.74e159","type":"function","z":"4802782f.a37118","name":"OnOffConversion","func":"var state = \"0\"\nif (msg.payload == \"ON\")\n    state = \"1\";\nvar nMsg = { payload: state };\nreturn nMsg;","outputs":1,"noerr":0,"x":263.3333053588867,"y":76.66666603088379,"wires":[["26c02345.c1b4bc"]]},{"id":"46e9a3be.16a05c","type":"debug","z":"aec1ad39.2fa4","name":"WS Update msg","active":true,"console":"false","complete":"true","x":664.4444444444445,"y":812.2222222222222,"wires":[]},{"id":"8c48c25d.1a22c","type":"debug","z":"aec1ad39.2fa4","name":"DB update msg","active":true,"console":"false","complete":"true","x":652.2222222222222,"y":882.2222222222222,"wires":[]}]